* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
tr,
th,
td {
    margin: auto;
    border: 1px solid black;
    border-spacing: 0;
    width: 30%;
}

tr,
th,
td,
.baci,
.ponovo {
    width: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    height: 4.2vh;
    width: 2.7rem;
}

.baci, .ponovo {
    font-size: 1rem;
}

th,
.obojeno {
    background-color: lightgrey;
}

ul,
li,
.baci {
    display: inline;
}

li {
    font-size: 5rem;
    list-style-type: none;
    cursor: pointer;
}

.baci {
    height: 4rem;
    width: 7rem;
    display: block;
    margin: -0.7% auto 0 auto;
}

.ponovo {
    display: block;
    margin: 0.5% auto;
    width: 10rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poruka {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
}

.broj_bacanja {
    font-size: 0.5rem;
}

.kockice {
    visibility: hidden;
}

.wrapper,
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1.5rem);
    grid-template-rows: 1.5rem 1.5rem;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 1%;
}

.wrapper {
    left: 2%;
}

.wrapper2 {
    right: 2%;
}

.box_1 {
    background-color: lightgrey;
}

.box_2 {
    background-color: #e74c3c;
}

.box_3 {
    background-color: #2980b9;
}

.box_4 {
    background-color: #f1c40f;
}

.box_5 {
    background-color: #27ae60;
}

.box_6 {
    background-color: #8e44ad;
}

.box_7 {
    background-color: #2c3e50;
}

.box_8 {
    background-color: #e67e22;
}

.box_9 {
    background-color: #95a5a6;
}

.box_10 {
    background-color: #f78fb3;
}

.box_11 {
    background-color: #3dc1d3;
}

.box_12 {
    background-color: #c44569;
}

@media (orientation:portrait) {
    table {
        width: 100%;
    }

    ul {
        width: 100%;
        margin: auto;
    }

    li {
        font-size: 3.7rem;
    }
}

@media (orientation:landscape) and (max-width: 1000px) {

    table,
    ul,
    .baci,
    .wrapper,
    .wrapper2 {
        visibility: hidden;
    }

    .poruka {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        visibility: visible;
    }
}